[core]
	excludesfile = /Users/raine/.gitignore_global
[user]
	name = Raine Revere
	email = raine@cybersemics.org
[credential]
	helper = osxkeychain
[difftool "kdiff3"]
    path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
    trustExitCode = false
[difftool]
    prompt = false
[diff]
    tool = kdiff3
[mergetool "kdiff3"]
    path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
    trustExitCode = false
[mergetool]
    keepBackup = false
[merge]
	tool = kdiff3
[alias]
	a = add -A
	b = branch
	c = commit
	d = diff
	r = remote -v
	s = status
	t = tag
	pullall = "!f(){ git pull \"$@\" && git submodule update --init --recursive; }; f"

  # amend a specific commit with all staged files
  # e.g. git amend-to head^^
  #      git amend-to :/my commit
  # https://stackoverflow.com/a/48999882/480608
	amend-to = "!f() { SHA=`git rev-parse \"$1\"`; git commit --fixup \"$SHA\" && GIT_SEQUENCE_EDITOR=true git rebase --interactive --autosquash \"$SHA^\"; }; f"
	sweep = !git branch --merged $([[ $1 != \"-f\" ]] \\\n&& git rev-parse dev) | egrep -v \"(^\\*|^\\s*(master|main|dev)$)\" \\\n| xargs git branch -d

[color]
	ui = auto
[push]
	default = simple
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
